* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    height: 64px;
    background: #FD6E0A;
    border-radius: 5px;
    border: 0;
    padding: 18px 35px;
}
.btn-contact{
    color: #FD6E0A;
    font-weight: 700;
    font-size: 20px;
    height: 64px;
    background: #ffffff;
    border-radius: 5px;
    border: 2px solid #FD6E0A;
    padding: 18px 35px;
}
/* header and navigation styles */
nav {
    display: flex;
    justify-content: space-between;
    padding: 51px 226px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 51px;

}

/* banner styles */
.header {
    background: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

.banner {
    align-items: center;
    display: flex;
    margin: 0 200px;
}

.banner-title {
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 20px;
}

.banner-subtitle {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 5px;
}

.banner-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
.banner ul{
    display: flex;
    margin-left: 0;
}
.banner ul li{
    list-style: none;

}
/* main section */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about section styles */

.about {
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}

.section-title {

    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
}

.section-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.about .info-title {
    font-size: 20px;
    color: 757575;
}

.info-description {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}

/* what i do styles */

.what-i-do {
    margin-top: 130px;
    text-align: center;
}

.skills-container {
    display: flex;
    text-align: left;
}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    color: #181818;
    margin-top: 30px;

}

.skill-description {
    color: #757575;
    margin-top: 20px;
}

.what-i-do .section-description {
    padding: 0 150px;
    margin-bottom: 50px;
}

/* summery section styles */

.summery {
    margin-top: 130px;
    text-align: center;

}

.summery-container {
    display: flex;
    margin-top: 113px;
    margin-bottom: 50px;

}

.summery-main-title {
    font-weight: 700;
    font-size: 30px;
    color: #474747;
    margin-bottom: 30px;

}

.summery-title {
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}

.summery-subtitle {
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    margin-bottom: 20px;
}

.summery-description {
    color: #757575;
}

.education {
    text-align: left;
    padding-right: 71px;

}

.experience {
    text-align: left;
    padding-right: 71px;
}
.line{
    margin-top: 30px;
    margin-bottom: 30px;
}
/* contact styles */

.contact-container{
    display: flex;
    justify-content: space-between;
    background: #FFF8F3;
    margin-top: 113px;
    padding: 130px 113px;
}
.contact-container .section-title{
    text-align: left;
}
.social-link{
    text-decoration: none;
}

.contact-container input[type="text"], input[type="email"], textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}

.contact{
    padding-right: 117px;
    /* padding-left: 117px; */
}
